# Telegram Bot Configuration
BOT_TOKEN=8716771606:AAFJBYy2zctx3sCO1Aespp7DeZAjoUao4-8
ADMIN_TELEGRAM_ID=6948346741

# Telegram API (for GramJS userbot - get from https://my.telegram.org)
TELEGRAM_API_ID=34782678
TELEGRAM_API_HASH=444ba5a1387bbae86194e86bdafc300b

# Admin Panel Credentials
ADMIN_PANEL_USERNAME=admin
ADMIN_PANEL_PASSWORD=Abu-bakr2008

# JWT Secret (generate a long random string)
JWT_SECRET=TelegramBot2024SecretKeyUzbekistan

# Database (SQLite file path)
DATABASE_URL=file:./dev.db

# Timezone
TIMEZONE=Asia/Tashkent

# Server Port
PORT=8080
